.incoming, .outgoing{
  max-width: 20rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.2rem 0.7rem;
}

.incoming{
  background-color: yellow;
  margin-left: 7rem;
}

.outgoing{
  background-color: orange;
}

